[include]
    path = "~/.gitconfig.general"
[core]
    autocrlf = false
    editor = vim
[user]
    name = " Franzelin Fabian (XC-AD/ETV5)"
    email = fabian.franzelin@de.bosch.com
[credential]
    # For installation, run:
    # sudo apt-get install libsecret-1-0 libsecret-1-dev
    # cd /usr/share/doc/git/contrib/credential/libsecret
    # sudo make
    helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[http "https://athena.*.corpintra.net"]
    username = franzef
    sslCert = /home/frf2lr/.local/share/certificates/cert-dap.crt
    sslKey = /home/frf2lr/.local/share/certificates/cert-dap.key
    sslCaInfo = /etc/ssl/certs/ca-certificates.crt
[http "https://athena.daimler.com"]
    username = franzef
    sslCert = /home/frf2lr/.local/share/certificates/cert-dap.crt
    sslKey = /home/frf2lr/.local/share/certificates/cert-dap.key
    sslCaInfo = /etc/ssl/certs/ca-certificates.crt
[credential "https://scm-manager.rd.corpintra.net"]
    username = franzef
    sslCert = /home/frf2lr/.local/share/certificates/cert-dap.crt
    sslKey = /home/frf2lr/.local/share/certificates/cert-dap.key
    sslCaInfo = /etc/ssl/certs/ca-certificates.crt
[credential "https://github.com"]
    username = fabianfranzelin
    password = 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
[credential "https://github.boschdevcloud.com"]
    username=frf2lr
    password = 0539d0cca657b1105918563812e229b1b604a4f2
[credential "https://sourcecode01.de.bosch.com"]
    username = frf2lr
    password = Njk5Mzk2NzYyMzc0OoGHV0y7DvNUyAjzMwL0/pFrSHl9
[merge]
    tool = meld
[diff]
    tool = meld
[difftool "visual"]
    cmd = ${VISUAL} --wait --diff $LOCAL $REMOTE
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
    required = true
[push]
    default = simple
[lfs]
    storage = /home/frf2lr/.cache/git/lfs
