#------------------------------------------------------------------------------#
# gitignore

# Created by https://www.gitignore.io/api/code,linux,macos,visualstudiocode,windows
# Edit at https://www.gitignore.io/?templates=code,linux,macos,visualstudiocode,windows

### Code ###
.config/Code/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
!.config/Code/User/tasks.json
!.config/Code/User/launch.json
!.config/Code/User/extensions.txt

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/code,linux,macos,visualstudiocode,windows

#------------------------------------------------------------------------------#
# custom

build/
.vscode/
*.db
*.idx

/.local/share/npm/
/.local/bin/marksman
/.local/share/fonts/
/.local/share/certificates/
/.local/share/Trash/
/.local/share/emacs-28.2/
/.local/share/emacs-29/
/.local/share/direnv/
/.local/share/man/
/.local/share/CMakeTools/

/.config/znt/
/.config/configstore/
/.config/pulse/
/.config/htop/
/.config/wslu/
/.config/QtProject.conf
/.config/emacs/elpa/

# Python
__pycache__
.mypy_cache

# CRAN R
/.Rhistory

# Sensitive information
/.ssh/id_rsa
.config/shell/workstations/b_credentials.sh
.config/shell/b_credentials.sh

### Emacs ###
flycheck_*
/.config/emacs/eln-cache/
/.config/systemd/user/default.target.wants/*.service
/.config/emacs/install.sh

### ZSH ###
/.config/zsh/.zcompdump*
/.config/zsh/.zsh_history

### GIT ###
/.config/git/config.workstation

### NPM ###
/.config/npm/npmrc
/.config/nvm/
/package.json
/node_modules/
/package-lock.json

### SSH ###
/.ssh/*
!.ssh/config

### GNUPG ###
/.gnupg/*
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf
