[Desktop Entry]
Name[de]=Dateimanager Thunar
Name=Thunar File Manager
Comment[de]=Das Dateisystem im Dateimanager anzeigen
Comment=Browse the filesystem with the file manager
GenericName[de]=Dateiverwaltung
GenericName=File Manager
Keywords[de]=Dateiverwaltung;Explorer;Finder;Browser;Ordner;Verzeichnisse;Verzeichnisse;Partitionen;Laufwerke;Netzwerk;Geräte;Umbenennen;Verschieben;Kopieren;Löschen;Berechtigungen;Home;Papierkorb;
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;
Exec=thunar %U
Icon=org.xfce.filemanager
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Core;GTK;FileTools;FileManager;
MimeType=inode/directory;
Actions=open-home;open-computer;open-trash;
X-XFCE-Source=file:///usr/share/applications/thunar.desktop
Path=

[Desktop Action open-home]
Name[de]=Persönlicher Ordner
Name=Home
Exec=thunar %U

[Desktop Action open-computer]
Name[de]=Rechner
Name=Computer
Exec=thunar computer:///

[Desktop Action open-trash]
Name[de]=Papierkorb
Name=Trash
Exec=thunar trash:///
