configuration {
    show-icons:   true;
    sidebar-mode: false;
    font:         "JetBrains Mono NL 13";
    modi:         "drun,window,ssh,filebrowser,combi";
    combi-modi:   "drun,window,ssh";
}
@theme "themes/ff-center.rasi"
